<!DOCTYPE html>
<title>Bienvenido al blog - web de Felix Daniel castro | Larus - Larousse</title>
<meta name="google-site-verification" content="hlIv4pOE43aTUQyQwa6r7-bpKTMzkkFahgNPV7Esvfo" />
<meta name="description" content="Este es el blog de Larus daniel castro donde encontraran datos curiosos sobre linux y sobre la piedra del amor, poderes y sobre que relacion tengo con la Comision y Pablo Gonzalez. ">
<meta name="keywords" content="daniel castro, larus, Larousse, Felix Daniel castro, Aleman, Francia, Pablo Gonzalez, King, La coneja, Nazarena, Natalia Martinez, Joaquin, Palermo, Titan"/>
<meta name="Daniel Castro" content="Larus, Larousse" />
<meta name="robots" content="follow"/>

<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    <header>
    {% include template/top-nav.html %}
    </header>

    <main id="maincontent" role="main" aria-label="Content" class="flex-shrink-0">
      
      {{ content }}
      
    </main>

    {% include template/footer.html %}
    {% include template/foot.html %}

  </body>

</html>
